@model IEnumerable<EmployeeAttendanceSystem.Models.Attendance>

@{
    ViewData["Title"] = "Today's Attendance";
}

<h1>Today's Attendance</h1>

<p>
    <a asp-action="Create">Today's Attendance</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AttendanceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AttendanceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AttendanceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
